.banner{
	background-color: #787878;
	width: 100%;
	/*position:absolute;
	top:0px;*/
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
}

body{
	margin: 0;
}

#errorMessage {
	display: none;
}